<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="src/styles.css">
<div class="context">
  <h1 class=" mat-display-1 animated bounceInDown delay-0s">Welcome To Yaniv Suriyano's WebSite</h1>
</div>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <mat-toolbar class="navbarMenu" [ngStyle]="{ 'background-color':color }">
    <div style="color: white">Yaniv Suriyano</div>
    <div>
        <span>
          <a href="https://www.instagram.com/yanivsu/" target="_blank">
            <i class="fa fa-instagram" matTooltip="Please Follow me on Instagram"></i>
          </a>
        </span>
      <span>
          <a href="https://www.facebook.com/yaniv.suriyano" target="_blank">
            <i class="fa fa-facebook-official" matTooltip="Please Follow me on Facebook"></i>
          </a>
        </span>
      <span>
        <a href="https://www.linkedin.com/in/yaniv-suriyano-9153bb140/" target="_blank">
          <i class="fa fa-linkedin" matTooltip="Please Follow me on Linkedin"></i>
        </a>
      </span>
      <span>
        <a href="https://www.github.com/yanivsu" target="_blank">
          <i style="color: black "class="fa fa-github" matTooltip="Please Follow me on Github"></i>
        </a>
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu" style="background: none;margin-left: 4px; border: none ">
        <mat-icon style="color: white">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button  mat-menu-item (click)="ScrollDown('GCD')">
          <mat-icon>memory</mat-icon>
          <span>GCD calculator</span>
        </button>
        <button mat-menu-item (click)="ScrollDown('myProjects')">
          <mat-icon>fingerprint icon</mat-icon>
          <span>My Projects</span>
        </button>
        <button mat-menu-item (click)="ScrollDown('myCV')">
          <mat-icon>face icon</mat-icon>
          <span>My CV</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>

<div class="contentImage">
  <div id="GCD" class="GCDClass">
    <span id="GCDCal">GCD Calculator</span>
    <div class="container grid-container">
      <form class="GCDform">
        <mat-form-field>
          <input matInput type="number" #number1 required>
          <mat-placeholder class="placeholder">First Integer:</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
          <input number matInput type="number" #number2 required>
          <mat-placeholder class="placeholder">Second Integer:</mat-placeholder>
        </mat-form-field>
        <button type="button" class="btn btn-primary" (click)="GCDCalcuator(number1.value, number2.value)">Go!</button>
      </form>
      <br>
      <div *ngIf="missValue">
        <span style="color: red; font-size: 17px">*</span>
        <span style="color: white; font-size: 15px"> Please enter Numbers / Unsigned Numbers</span>
      </div>
      <div class="result" *ngIf="result">Result:<br> GCD:{{ GCDAnswer }} ,u:{{ GCDu }} ,v: {{ GCDv }}</div>
    </div>
  </div>
</div>
<div id="myProjects" class="projects"><br><br>
  <div style="text-align: center">
        <span *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s"
              mat-display-1 style="color: whitesmoke;font-size: 60px;font-weight: bold; text-decoration: underline">Projects :
        </span>
  </div>
  <div class="row" style="width: 100%">
    <div class="col-5" style="text-align: left;padding: 150px;">
      <div *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s"
           style="color: whitesmoke;
           text-decoration: underline;
           ">Lotem's Website:
      </div>
      <p *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s lotemsDescription" style="color: whitesmoke">The
        website is a tennis equipment and gear website (an
        existing physical store), in the website customers are able to view all the store's equipment and to make
        orders, and even track an existing order.
        Furthermore, the website's administrator (the store's owner) can control existing orders, add new gear and edit
        existing gear on the website.<br>
        Client Side (Angular) , Server Side (NodeJS, MongoDb)
      </p>
      <a *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s" style="color:whitesmoke; float: left"
         href="http://www.github.com/yanivsu/Lotems_Store" target="_blank">
        <mat-icon>language</mat-icon>
        GitHub</a>
      <a *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s" style="color:whitesmoke;float: right"
         href="http://lotemweb.herokuapp.com" target="_blank">
        <mat-icon style="margin-top: 2px">language</mat-icon>
        LotemsWeb</a>
    </div>
    <div class="col-7 animated fadeIn delay-0.9s"
         style="color: whitesmoke;padding: 150px;text-align: center;text-decoration: underline"
         *ngIf="scrollNumber > 590">
      <ngb-carousel *ngIf="imagesLotemWeb">
        <ng-template *ngFor="let item of imagesLotemWeb" ngbSlide style="color: black">
          <div class="picsum-img-wrapper">
            <img [src]="item">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr style="border: 1px solid whitesmoke; width: 90%;margin: 0 auto">
  <div class="row" style="width: 100%">
    <div class="col-5" style="text-align: left;padding: 150px;">
      <div *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s"
           style="color: whitesmoke;
           text-decoration: underline;
           ">ViewPointShare:
      </div>
      <p *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s lotemsDescription" style="color: whitesmoke">The

        The purpose of a website is to store images, view landscapes from all over the world.
        Users who register for the site can also download the images they viewed in full quality and storage on the computer.<br>
        Client Side (HTML,CSS,HBS) , Server Side (NodeJS, MongoDb)
      </p>
      <a *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s" style="color:whitesmoke; float: left"
         href="http://www.github.com/yanivsu/ViewShareWeb" target="_blank">
        <mat-icon>language</mat-icon>
        GitHub</a>
    </div>
    <div class="col-7 animated fadeIn delay-0.9s"
         style="color: whitesmoke;padding: 150px;text-align: center;text-decoration: underline"
         *ngIf="scrollNumber > 590">
      <ngb-carousel *ngIf="imageViewWebShare">
        <ng-template *ngFor="let item of imageViewWebShare" ngbSlide style="color: black">
          <div class="picsum-img-wrapper">
            <img [src]="item">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr style="border: 1px solid whitesmoke; width: 90%;margin: 0 auto">
  <div style="text-align: center" id="myCV"><br><br>
        <span *ngIf="scrollNumber > 2050" class="animated fadeIn delay-0.9s"
               style="color: whitesmoke;font-size: 60px;font-weight: bold; text-decoration: underline">My CV:
        </span>
    <pdf-viewer src="{{cv}}" [zoom]="1.1"></pdf-viewer>
  </div>
</div>






