<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="context">
  <h1 class=" mat-display-1 animated bounceInDown delay-0s">Welcome To Yaniv Suriyano's WebSite</h1>
</div>
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <mat-toolbar class="navbarMenu" [ngStyle]="{ 'background-color':color }">
    <div style="color: white">Yaniv Suriyano</div>
    <div>
        <span>
          <a href="https://www.instagram.com/yanivsu/" target="_blank">
            <i class="fa fa-instagram" matTooltip="Follow me on Instagram"></i>
          </a>
        </span>
      <span>
          <a href="https://www.facebook.com/yaniv.suriyano" target="_blank">
            <i class="fa fa-facebook-official" matTooltip="Follow me on Facebook"></i>
          </a>
        </span>
      <span>
        <a href="https://www.linkedin.com/in/yaniv-suriyano-9153bb140/" target="_blank">
          <i class="fa fa-linkedin" matTooltip="Follow me on Linkedin"></i>
        </a>
      </span>
      <span>
        <a href="https://www.github.com/yanivsu" target="_blank">
          <i style="color: black "class="fa fa-github" matTooltip="Follow me on Github"></i>
        </a>
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu" style="background: none;margin-left: 4px; border: none ">
        <mat-icon style="color: white; margin-bottom: 8px">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item  [ngStyle]="{'background-color': whereAmI == 1 ? '#FD5D93' : 'white' }" (click)="ScrollDown('myProjects',1)">
          <mat-icon>fingerprint icon</mat-icon>
          <span>My Projects</span>
        </button>
        <button mat-menu-item [ngStyle]="{'background-color': whereAmI == 2 ? '#FD5D93' : 'white' }" (click)="ScrollDown('myCV', 2)">
          <mat-icon>face icon</mat-icon>
          <span>My CV</span>
        </button>
        <button mat-menu-item [ngStyle]="{'background-color': whereAmI == 3 ? '#FD5D93' : 'white' }" (click)="ScrollDown('Tools',3)">
          <mat-icon>build</mat-icon>
          <span>Tools</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
<div id="myProjects" class="projects"><br><br>
  <div style="text-align: center">
        <span *ngIf="scrollNumber > 550" class="animated fadeIn delay-0.5s"
              mat-display-1 style="color: whitesmoke;font-size: 60px;font-weight: bold; text-decoration: underline">Projects :
        </span>
  </div>
  <div class="row" style="width: 100%">
    <div class="col-5" style="text-align: left;padding: 150px;">
      <div *ngIf="scrollNumber > 570" class="animated fadeIn delay-0.9s"
           style="color: whitesmoke;
           text-decoration: underline;
           ">Lotem's Website:
      </div>
      <p *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s lotemsDescription" style="color: whitesmoke">The
        website is a tennis equipment and gear website (an
        existing physical store), in the website customers are able to view all the store's equipment and to make
        orders, and even track an existing order.
        Furthermore, the website's administrator (the store's owner) can control existing orders, add new gear and edit
        existing gear on the website.<br>
        Client Side (Angular) , Server Side (NodeJS, MongoDb)
      </p>
      <a *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s" style="color:whitesmoke; float: left"
         href="http://www.github.com/yanivsu/Lotems_Store" target="_blank">
        <mat-icon>language</mat-icon>
        GitHub</a>
      <a *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s" style="color:whitesmoke;float: right"
         href="http://lotemweb.herokuapp.com" target="_blank">
        <mat-icon style="margin-top: 2px">language</mat-icon>
        LotemsWeb</a>
    </div>
    <div class="col-7 animated fadeIn delay-0.9s"
         style="color: whitesmoke;padding: 150px;text-align: center;text-decoration: underline"
         *ngIf="scrollNumber > 590">
      <ngb-carousel *ngIf="imagesLotemWeb">
        <ng-template *ngFor="let item of imagesLotemWeb" ngbSlide style="color: black">
          <div class="picsum-img-wrapper">
            <img [src]="item">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr style="border: 1px solid whitesmoke; width: 90%;margin: 0 auto">
  <div class="row" style="width: 100%">
    <div class="col-5" style="text-align: left;padding: 150px;">
      <div *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s"
           style="color: whitesmoke;
           text-decoration: underline;
           ">ViewPointShare:
      </div>
      <p *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s lotemsDescription" style="color: whitesmoke">
        The purpose of this website is to store images, view landscapes from all over the world.
        Users who register for the site can also download the images they viewed in full quality and storage on the computer.<br>
        Client Side (HTML,CSS,HBS) , Server Side (NodeJS, MongoDb)
      </p>
      <a *ngIf="scrollNumber > 590" class="animated fadeIn delay-0.9s" style="color:whitesmoke; float: left"
         href="http://www.github.com/yanivsu/ViewShareWeb" target="_blank">
        <mat-icon>language</mat-icon>
        GitHub</a>
    </div>
    <div class="col-7 animated fadeIn delay-0.9s"
         style="color: whitesmoke;padding: 150px;text-align: center;text-decoration: underline"
         *ngIf="scrollNumber > 590">
      <ngb-carousel *ngIf="imageViewWebShare">
        <ng-template *ngFor="let item of imageViewWebShare" ngbSlide style="color: black">
          <div class="picsum-img-wrapper">
            <img [src]="item">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr style="border: 1px solid whitesmoke; width: 90%;margin: 0 auto">
  <div style="text-align: center" id="myCV"><br><br>
        <span *ngIf="scrollNumber > 1800"
               style="color: whitesmoke;font-size: 60px;font-weight: bold; text-decoration: underline">My CV:
        </span>
    <pdf-viewer src="{{cv}}" [zoom]="1.4" [autoresize]="false"></pdf-viewer>
  </div>
  <hr style="border: 1px solid whitesmoke; width: 90%;margin: 0 auto">
  <div class="contentImage" id="Tools">
    <div id="GCD" class="GCDClass">
      <span style="color: whitesmoke;font-size: 60px;font-weight: bold; text-decoration: underline">Tools:</span><br><br>
      <button type="button" class="btn btn-outline-primary" style="color: whitesmoke; margin: 2px 2px" (click)="gcdCal = !gcdCal">GCD Calculator</button>
      <button type="button" class="btn btn-outline-primary" style="color: whitesmoke; margin: 2px 2px" (click)="speedTest = !speedTest">Speed Test</button>
      <button type="button" class="btn btn-outline-primary" style="color: whitesmoke; margin: 2px 2px" (click)="calculator = !calculator">Calculator</button>
      <div *ngIf="gcdCal"><br>
        <span id="GCDCal">GCD Calculator</span>
        <div class="container grid-container">
          <form class="GCDform" (change)="GCDCalcuator(number1.value,number2.value)">
            <mat-form-field>
              <input matInput type="number" #number1 required>
              <mat-placeholder class="placeholder">First Integer:</mat-placeholder>
            </mat-form-field>
            <mat-form-field>
              <input number matInput type="number" #number2 required>
              <mat-placeholder class="placeholder">Second Integer:</mat-placeholder>
            </mat-form-field>
          </form>
          <br>
          <div *ngIf="missValue">
            <span style="color: red; font-size: 17px">*</span>
            <span style="color: white; font-size: 15px"> Please enter Numbers / Unsigned Numbers</span>
          </div>
          <div class="result" *ngIf="result">Result:<br> GCD:{{ GCDAnswer }} ,u:{{ GCDu }} ,v: {{ GCDv }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="speedTest" class="container grid-container">
      <iframe width="100%" height="650px" frameborder="0" src="https://yanivsu.speedtestcustom.com"></iframe>
    </div>
    <div class="container calculator" *ngIf="calculator"><br>
      <form name="form">
        <input class="textview" value="{{this.calculatrString}}">
      </form>
      <table>
        <tr>
          <td><input class="button btn-dark" type="button" value="AC" (click)="this.calculatrString = ''"></td>
          <td><input class="button btn-dark" type="button" value="del" (click)="calculatorDelFunction()"></td>
          <td><input class="button btn-dark" type="button" value="/" (click)="calculatorInsertFunction('/')"></td>
          <td><input class="button btn-dark" type="button" value="X" (click)="calculatorInsertFunction('*')"></td>
        </tr>
        <tr>
          <td><input class="button btn-dark" type="button" value="7" (click)="calculatorInsertFunction(7)"></td>
          <td><input class="button btn-dark" type="button" value="8" (click)="calculatorInsertFunction(8)"></td>
          <td><input class="button btn-dark" type="button" value="9" (click)="calculatorInsertFunction(9)"></td>
          <td><input class="button btn-dark" type="button" value="-" (click)="calculatorInsertFunction('-')"></td>
        </tr>
        <tr>
          <td><input class="button btn-dark" type="button" value="4"(click)="calculatorInsertFunction(4)"></td>
          <td><input class="button btn-dark" type="button" value="5" (click)="calculatorInsertFunction(5)"></td>
          <td><input class="button btn-dark" type="button" value="6" (click)="calculatorInsertFunction(6)"></td>
          <td><input class="button btn-dark" type="button" value="+" (click)="calculatorInsertFunction('+')"></td>
        </tr>
        <tr>
          <td><input class="button btn-dark" type="button" value="1" (click)="calculatorInsertFunction(1)"></td>
          <td><input class="button btn-dark" type="button" value="2" (click)="calculatorInsertFunction(2)"></td>
          <td><input class="button btn-dark" type="button" value="3" (click)="calculatorInsertFunction(3)"></td>
          <td rowspan = 5><input style="height: 104px" class="button btn-dark" type="button" value="=" (click)="calculatorEqualFunction()"></td>
        </tr>
        <tr>
          <td colspan = 2><input style="width: 104px;" class="button btn-dark" type="button" value="0" (click)="calculatorInsertFunction(0)"></td>
          <td><input class="button btn-dark" type="button" value="." (click)="calculatorInsertFunction('.')"></td>
        </tr>
      </table>
    </div>
  </div>



</div>




