.fa {
  font-size: 2rem;
  margin: 1rem;
}
.fa-facebook-official {
  color: #3b5998;
}
.fa-instagram {
  color: #c13584;
}
.calculator {
  width: 350px;
  height: 550px;
  transform: translateX(15%);

}
.display-calculator {
  width: 320px;
  height: 90px;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}
.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}
.textview {
  width: 212px;
  margin: 2.5px;
  font-size: 25px;
  padding: 5px;
  float: left;
}

